#navbar{
direction: rtl;
}
@media only screen and (max-width: 992px) {
  .navlink {
   display: block;
  }
}

.baricon {
   display: none;
  }
@media only screen and (max-width: 991px) {
  .baricon {
   display: block;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@700&display=swap');

.scrollto{
    font-size: 15px;
    font-family: 'Noto Kufi Arabic', sans-serif;
  
color: rgb(8, 42, 25);
    
}



