<div class="treatcard mb-3">
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3 container">
                <div class="mb-3">
                    <img src="{{ product.image }}" [alt]="product.name" class="treatimg w-6 shadow-2" />
                </div>
                <div>
                    <a [routerLink]="['/DoctorDetails',product._id]"><h4 class="treatname mb-1">{{ product.name }}</h4></a>
                    <h6 class="mt-0 mb-3">{{ product.price }}</h6>
                    <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                    <!-- <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-facebook"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-linkedin"></p-button>
                    </div> -->
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>