<div class="container">
  <form id="contact" action="" method="post" [formGroup]="doctorInfo" (ngSubmit)="onSubmit()"
    enctype="multipart/form-data">
    <h3>Quick Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>


    <fieldset>
      <input formControlName="name" placeholder="name" type="text" tabindex="1" required autofocus>
    </fieldset>

    <fieldset>
      <input formControlName="title" placeholder="title" type="text" tabindex="1" required autofocus>
    </fieldset>

    <fieldset>
      <input formControlName="location" placeholder="Your location" type="email" tabindex="2" required>
    </fieldset>

    <fieldset>
      <input formControlName="clinicName" placeholder="Your clinic name" type="text" tabindex="1" required autofocus>
    </fieldset>

    <!-- <fieldset>
      <input formControlName="location" placeholder="Your location" type="text" tabindex="1" required autofocus>
    </fieldset> -->
    <fieldset>
      <textarea formControlName="about" placeholder="about" tabindex="5" required></textarea>
    </fieldset>

    <fieldset>
      <input formControlName="price" placeholder="Your price " type="tel" tabindex="3" required>
    </fieldset>

    

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>