<div class="container">
    <app-nav></app-nav>
    <!-- <div class="container">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" #name>
        </div>
        <div class="form-group">
            <label>Department:</label>
            <input type="text" class="form-control" #title>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <input type="text" class="form-control" #price>
        </div>
        <br>
        <button class="btn btn-primary" (click)="searchDoctors(name.value, title.value, price.value)">Search</button>
    </div> -->
    <!-- <div *ngFor="let doc of doctors">
        <img [src]="doc.image" height="100px" width="100px" objectfit="contain">
        <br>
        {{doc.name}}
        <br>
        {{doc.title}}
        <br>
        {{doc.about}}
        <br>
        {{doc.price}}
    </div> -->
    <router-outlet></router-outlet>
</div>

