<!-- <div class="card h-doctor mb-1">
    <div class="content">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{data.image}}" class="card-img img-fluid rounded-circle " />
      </div>
      <div class="card-body">
        <h2 class="card-title"><a>{{data.name}}</a></h2>
        <h5 class="card-text">
          {{data.title}}
         </h5>
        <ngx-star-rating [id]="'rating'"></ngx-star-rating>
      </div>
    </div>
  </div>
  <div class="button_card">
    <a [routerLink]="['/DoctorDetails',data._id]" class="btn btn-outline-success  m-1">show more details</a>
  </div>

   -->


<div class="container py-3 ">
  <!-- Card Start -->
  <div class="card hov pulse">
    <div class="row ">

      <div class="col-md-7 px-3 direction">
        <div class="card-block px-6">
          <h3 class="card-title">{{data.name}}</h3>
          <p class="card-text">
            {{data.about}}
          </p>
          <h5 class="card-loc"><i class="fa-solid fa-location-dot"></i> {{data.location}}</h5>
          <br>
          <a [routerLink]="['/DoctorDetails',data._id]" class="btn btn-outline-success  m-1">show more details</a>
        </div>
      </div>
      <div class="col-md-5">
        <img style="object-fit:contain; border-radius:10px; height:250px;" class="w-100" src="{{data.image}}" alt="doctor_image">
      </div>
    </div>
  </div>
  <!-- End of card -->

