// .payment{
//     display: block;
// align-items: center;
// padding: 150px;


// }

.payment{
    margin-top: 3rem;
}
  .cont
  {
      border: 1 solid white;
      border-radius: 1rem;
      padding: 1rem;
     
  }
  .form-control
  {
    border: 1 solid white; 
    border-radius: 17px;
  }
  .radius-in
  {
    border: 1 solid white; 
    border-radius: 17px;
  }