<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" id="footer-translate">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>تواصل معنا عبر شبكات التواصل الاجتماعي</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3" style="float: right;"></i> <span style="float: right;"> &nbsp; HMS</span>
          </h6>
          <p style="line-height: 1.7;" id="prag">
            نظم إدارة المستشفيات مؤسسة تقدم العديد من الخدمات في المجال الطبي ،
            مثل حجز طبيب متخصص ، والبحث عن نوع من العلاج ، بالإضافة إلى تقديمه نادرًا
            علاج.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="text-align: right;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            فريق العمل
          </h6>
          <p>
            <a href="http://linkedin.com/in/gamal-abd-el-nasser-5184ba217" class="text-reset" target="_blank">جمال
              عبدالناصر</a>
          </p>
          <p>
            <a href="http://linkedin.com/in/mohamed-ahmed-saleh-9ba486242" class="text-reset" target="_blank">محمد
              أحمد</a>
          </p>
          <p>
            <a href="http://linkedin.com/in/mina-holouma" class="text-reset" target="_blank">مينا حلومه</a>
          </p>
          <p>
            <a href="http://linkedin.com/in/matiousmtyas" class="text-reset" target="_blank">ماتيوس متياس</a>
          </p>
          <p>
            <a href="#!" class="text-reset">الامير يحيى</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="text-align: right;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            الذهاب إلي
          </h6>
          <p>
            <a routerLink="/home" class="text-reset">الرئيسية</a>
          </p>
          <p>
            <a routerLink="/doctors" class="text-reset">الأطباء</a>
          </p>
          <p>
            <a routerLink="/Pharmacy" class="text-reset">الصيدلية</a>
          </p>
          <p>
            <a href="#!" class="text-reset">العلاج النادر</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="text-align: right;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="margin-right: 6%;">للتواصل</h6>
          <p><i class="fas fa-home me-3"></i>&nbsp; القاهرة - أسيوط</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a routerLink="/home" style="color:rgba(0, 0, 0, 0.68);"> &nbsp;للمزيد من المعلومات</a>
          </p>
          <p><i class="fas fa-phone me-3"></i> &nbsp;123456789(+20)</p>
          <p><i class="fas fa-print me-3"></i> &nbsp;123456789(+20)</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); direction: ltr;">
    © 2023 Copyright:
    <a class="text-reset fw-bold" routerLink="/home">Hospital Managment System</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->