<div class="cartBox">
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart">
    <p class="lead">You have <label class="text-danger">{{cartProduct.length}}</label> item in your cart</p>
    <span class="text-danger card-header" (click)="clearCart()">Clear Shopping Cart</span>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th style="width: 25%;">Quantity</th>
        <th>Totle</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartProduct let index=index">
        <td><img src="{{item.item.image}}" alt="img"></td>
        <td>{{item.item.name}}</td>
        <td>{{item.item.price}}</td>
        <td>
          <div class="quantity">
          <button class="btn btn-dark" (change)="detectChange()" (click)="addAmount(index)">+</button>
          <!-- <input type="number" class="form-control" [(ngModel)]="{{item.quantity}}" min="1"> -->
          <input type="number" minlength="0" min="0" class="form-control" [(ngModel)]="item.quantity">

          <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
        </div>
        </td>
        <td>{{ calculateTotalPrice(item.item.price, item.quantity) }} L.E</td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(index)"> Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total :{{total}}</th>
        <th><button (click)="redirectToGatway()" class="btn btn-success">order Now</button></th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert"><strong>Well done!</strong>You order is Successfully send</div>

